# Dependencies
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Vercel
.vercel

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Reference material
reference/
